.home-wrap{
    position: relative;
    .loading,.err-alert{
        height: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        top:50%;
        right: 50%;
        bottom: 50%;
        margin:auto;
        transform: translate(-50%,-50%);
        border :2px solid red;
        text-align: center;
    }
    .err-alert{
        width: 200px;
        height: 200px;
    }
}