*{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.box{
    width: 380px;
    // background: pink;
    label{
        width: 300px;
        // background: green;
        height: 30px;
        display: flex;
        margin: 20px;
        input{
            height: 20px;
        }
        span{
            display: block;
            width: 50px;
            line-height: 20px;
        }
        .red{
            color: red;
            line-height: 20px;
            padding-left:10px;
        }
       
    }
}
